.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
